In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url)

In [12]:
display(df.info(),df.head(5), df.describe())

<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    str
 4   Sex          891 non-null    str
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    str
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    str
 11  Embarked     889 non-null    str
dtypes: float64(2), int64(5), str(5)
memory usage: 83.7 KB

None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [17]:
df.Embarked.unique()

<StringArray>
['S', 'C', 'Q', nan]
Length: 4, dtype: str

In [18]:
df.drop(["PassengerId","Name","Ticket"],axis = 1 , inplace = True)

In [ ]:
#

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [56]:
display(df.info(),df.describe())

<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    str
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    str
 8   Embarked  889 non-null    str
 9   HasCabin  891 non-null    int64
dtypes: float64(2), int64(5), str(3)
memory usage: 69.7 KB

None

,Survived,Pclass,Age,SibSp,Parch,Fare,HasCabin
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208,0.228956
std,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429,0.420397
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,0.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [36]:
df.groupby("Survived")["Age"].median()

Survived
0    28.0
1    28.0
Name: Age, dtype: float64

In [ ]:
df["Age"] = df["Age"].fillna(df.Age.median())

In [63]:
df.groupby("Survived")["Embarked"].value_counts(normalize=True)
df["Embarked"] = df.Embarked.fillna(df.Embarked.mode()[0])

In [67]:
df["Cabin"] = df.Cabin.fillna("Unknown")

In [114]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [101]:
df.drop(["Cabin"],axis = 1,inplace = True)

In [115]:
from sklearn.model_selection import train_test_split
X = df.drop("Survived",axis = 1)
y = df.iloc[:,[0]]

X_train,X_test,y_train,y_test = train_test_split(X, y ,train_size =0.8,random_state = 21)

In [112]:
X_train,y_train

(     Pclass     Sex   Age  SibSp  Parch      Fare Embarked  HasCabin
 793       1    male  54.0      0      0   51.8625        S         1
 23        2  female  54.0      1      3   23.0000        S         0
 97        3    male  33.0      0      0    8.6625        C         0
 9         1  female  28.0      0      0  110.8833        C         0
 157       1  female  40.0      1      1  134.5000        C         1
 ..      ...     ...   ...    ...    ...       ...      ...       ...
 368       3    male  28.0      0      0    7.2500        S         0
 48        1    male  27.0      0      2  211.5000        C         1
 772       3    male  42.0      0      0    7.5500        S         0
 824       2    male  52.0      0      0   13.5000        S         0
 207       1  female  50.0      0      0   28.7125        C         1

 [712 rows x 8 columns],
      Survived
 793         0
 23          1
 97          0
 9           1
 157         1
 ..        ...
 368         0
 48          0
 772         0
 824         0
 207         0

 [712 rows x 1 columns])

In [128]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

scale_columns = ["Age","Fare"]
ohe_columns   = ["Sex", "Embarked"]
ordinal_columns = ["Pclass","SibSp", "Parch", "HasCabin"]

preprocessing = ColumnTransformer(transformers = [
    ("ordinal_encode", OrdinalEncoder(),ordinal_columns),
    ("one hot columns", OneHotEncoder( drop= "first", handle_unknown = "ignore"), ohe_columns),
    ("scale columns", StandardScaler(), scale_columns )
])

model_names = {
    "Logistic_Regression" : LogisticRegression(),
    "KNeighborsClassifier" : KNeighborsClassifier(),
    "Supportvectormachine" : SVC(kernel = "rbf"),
    "rf" : RandomForestClassifier(
            n_estimators=100
        ),
    "GradientBoostingClassifier" : GradientBoostingClassifier()
    }

for names,model in model_names.items():
    pipeline = Pipeline(
        steps = [
            ("preprocessing columns", preprocessing),
            ("model", model)
        ]
    )

    pipeline.fit(X_train,y_train)
    y_train_pred = pipeline.predict(X_train)
    y_test_pred = pipeline.predict(X_test)

    train_accuracy = accuracy_score(y_train,y_train_pred)
    test_accuracy = accuracy_score(y_test,y_test_pred)
    print(" model : {} , train_Accuracy : {}, test_accuracy : {}".format(names,train_accuracy,test_accuracy))

d:\end_to_end_ml_pipeline\.venv\Lib\site-packages\sklearn\utils\validation.py:1352: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
d:\end_to_end_ml_pipeline\.venv\Lib\site-packages\sklearn\neighbors\_classification.py:243: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
d:\end_to_end_ml_pipeline\.venv\Lib\site-packages\sklearn\utils\validation.py:1352: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
d:\end_to_end_ml_pipeline\.venv\Lib\site-packages\sklearn\base.py:1336: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

 model : Logistic_Regression , train_Accuracy : 0.7991573033707865, test_accuracy : 0.7988826815642458
 model : KNeighborsClassifier , train_Accuracy : 0.8398876404494382, test_accuracy : 0.7821229050279329
 model : Supportvectormachine , train_Accuracy : 0.8356741573033708, test_accuracy : 0.8268156424581006
 model : rf , train_Accuracy : 0.9817415730337079, test_accuracy : 0.7877094972067039
 model : GradientBoostingClassifier , train_Accuracy : 0.8918539325842697, test_accuracy : 0.8100558659217877

d:\end_to_end_ml_pipeline\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:120: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [91]:
train_accuracy,test_accuracy

(0.8497191011235955, 0.7821229050279329)