In [1]:
import pandas as pd

data = {
    "age": [20, 22, 24, 26, 28, 30],
    "income": [30000, 32000, 34000, 36000, 38000, 200000]  # outlier
}

df = pd.DataFrame(data)
df

   age  income
0   20   30000
1   22   32000
2   24   34000
3   26   36000
4   28   38000
5   30  200000

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
df_standard = pd.DataFrame(
    ss.fit_transform(df),
    columns=df.columns
)

df_standard

       age    income
0 -1.46385 -0.511426
1 -0.87831 -0.479125
2 -0.29277 -0.446825
3  0.29277 -0.414524
4  0.87831 -0.382223
5  1.46385  2.234123

In [5]:
from sklearn.preprocessing import MinMaxScaler

mm = MinMaxScaler()
df_minmax = pd.DataFrame(
    mm.fit_transform(df),
    columns=df.columns
)

df_minmax

   age    income
0  0.0  0.000000
1  0.2  0.011765
2  0.4  0.023529
3  0.6  0.035294
4  0.8  0.047059
5  1.0  1.000000

In [6]:
from sklearn.preprocessing import RobustScaler

rs = RobustScaler()
df_robust = pd.DataFrame(
    rs.fit_transform(df),
    columns=df.columns
)

df_robust

   age  income
0 -1.0    -1.0
1 -0.6    -0.6
2 -0.2    -0.2
3  0.2     0.2
4  0.6     0.6
5  1.0    33.0

üîπ StandardScaler ‚Äî ‚Äúdefault, variance-based scaling‚Äù

What it does
Centers data around 0 and scales it so features have unit variance.

How it thinks

‚ÄúHow many standard deviations away from the mean is this value?‚Äù

Why we use it

Makes features comparable

Preserves Gaussian structure

Works well with gradient-based models

When to use

Linear / Logistic Regression

Ridge / Lasso

SVM

PCA

Neural Networks

Clean or roughly normal data

Key limitation

Sensitive to outliers (mean & std shift)

One-line interview answer

‚ÄúStandardScaler standardizes features to zero mean and unit variance and is the default choice when data is clean.‚Äù

üîπ MinMaxScaler ‚Äî ‚Äúrange-based scaling‚Äù

What it does
Scales features into a fixed range, usually [0,1].

How it thinks

‚ÄúWhere does this value lie between the minimum and maximum?‚Äù

Why we use it

Ensures bounded inputs

Useful when models expect values in a specific range

When to use

Neural networks (sigmoid / tanh)

Image data

When bounds matter

Key limitation

Extremely sensitive to outliers

One extreme value squashes everything else

One-line interview answer

‚ÄúMinMaxScaler rescales features to a fixed range and is useful when bounded inputs are required, but it is very sensitive to outliers.‚Äù

RobustScaler ‚Äî ‚Äúoutlier-resistant scaling‚Äù

What it does
Scales data using median and IQR instead of mean and std.

How it thinks

‚ÄúHow far is this value from the median relative to the middle 50% of the data?‚Äù

Why we use it

Protects normal data from outliers

Keeps central distribution stable

When to use

Data with strong outliers

Finance, medical, insurance, salaries

Key limitation

Does not preserve variance

Can exaggerate extreme values

Not ideal for clean Gaussian data

One-line interview answer

‚ÄúRobustScaler uses median and IQR to scale features and is preferred when outliers are present.‚Äù