In [6]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/KeithGalli/Regression-Example/master/insurance.csv"
df = pd.read_csv(url)

df.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [48]:
display(df.info(),df.describe(),df.head(5))

<class 'pandas.DataFrame'>
Index: 1336 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1207 non-null   float64
 1   sex       1272 non-null   str
 2   bmi       1272 non-null   float64
 3   children  1228 non-null   float64
 4   smoker    1272 non-null   str
 5   region    1272 non-null   str
 6   charges   1284 non-null   str
dtypes: float64(3), str(4)
memory usage: 83.5 KB

None

               age          bmi     children
count  1207.000000  1272.000000  1228.000000
mean     39.282519    30.560550     1.050489
std      14.157333     6.095573     1.195233
min      18.000000    15.960000     0.000000
25%      26.000000    26.180000     0.000000
50%      39.000000    30.210000     1.000000
75%      51.000000    34.485000     2.000000
max      64.000000    53.130000     5.000000

    age sex     bmi  children smoker     region      charges
0  19.0   F  27.900       0.0    yes  southwest    16884.924
1  18.0   M  33.770       1.0     no  southeast    1725.5523
2  28.0   M  33.000       3.0     no  southeast     4449.462
3  33.0   M  22.705       0.0     no  northwest  21984.47061
4  32.0   M  28.880       0.0     no  northwest    3866.8552

In [14]:
df.dropna(how = "all",inplace = True)

In [30]:
#Make sure age is within the range 
#make sure childern is within the range 

df.loc[(df.age < 1) | (df.age > 100), "age"]=  np.nan

In [34]:
df.loc[df.children < 0, "children"] = np.nan

In [38]:
import re 

df["charges"] = df.charges.replace(r"[^0-9.]","",regex = True)

In [50]:
df['sex'] = df.sex.replace(["female","woman"],"F")
df['sex'] =  df.sex.replace(["male","man"],"M")
df["region"] = df.region.str.lower()
df["age"] = df.age.fillna(df.age.median())
df["sex"] = df.sex.fillna(df.age.mode()[0])
df["bmi"] = df.bmi.fillna(df.bmi.mean())

In [52]:
df = df.dropna(subset=["smoker"])

In [54]:
df= df.dropna(how = "all")

In [65]:

df["charges"] = pd.to_numeric(df["charges"], errors = "coerce")

In [71]:
df

       age sex     bmi  children smoker     region      charges
0     19.0   F  27.900       0.0    yes  southwest  16884.92400
1     18.0   M  33.770       1.0     no  southeast   1725.55230
2     28.0   M  33.000       3.0     no  southeast   4449.46200
3     33.0   M  22.705       0.0     no  northwest  21984.47061
4     32.0   M  28.880       0.0     no  northwest   3866.85520
...    ...  ..     ...       ...    ...        ...          ...
1333  50.0   M  30.970       3.0     no  northwest  10600.54830
1334  39.0   F  31.920       0.0     no  northeast   2205.98080
1335  18.0   F  36.850       0.0     no  southeast   1629.83350
1336  21.0   F  25.800       0.0     no  southwest   2007.94500
1337  61.0   F  29.070       0.0    yes  northwest  29141.36030

[1272 rows x 7 columns]